Platzi_YardSale_Icons
Platzi_YardSale_Logos
Platzi_YardSale_Icons/
Platzi_YardSale_Logos/
Platzi_YardSale_Icons/*
Platzi_YardSale_Logos/*
./Platzi_YardSale_Icons
./Platzi_YardSale_Logos
./Platzi_YardSale_Icons/
./Platzi_YardSale_Logos/
./Platzi_YardSale_Icons/*
./Platzi_YardSale_Logos/*